:root{/* colorcode*/
    --cor_fundo: #F4EFEC;
    --cor_1: #F0D9D1;
    --cor_2: #DDB7AC ;
    --cor_3: #999B85;
    --COR_4: #e28ac0;
}
main{
    grid-area: prin;
    background-color: var(--cor_1);
    padding: 60px;
}


header{
    grid-area: cabe;
    background-color: var(--cor_3);

}
* {/* tirar a borda branca do site */
    margin: 0%;
    padding: 0%;
 }
body{/* tem grid */
    display: grid;
    grid-template-areas:
    " cabe "
    " prin ";
    grid-template-columns: auto;
    grid-template-rows: 210px 750 auto;
    background-color: #F0D9D1;
}






.logo{/*dimensoes da logo*/
    width: auto;
    height: 200px;
    padding: 6px;
    border-radius: 30px;
}




.grafico{/* imagem dos links que direcionam para a outra pagina*/
    width: 150px;
    height: 70px;
    padding: 6px;
    border-radius: 25px;
    margin-right: 40px;
}
.pag1{/* imagem dos links que direcionam para a outra pagina*/
    width: 150px;
    height: 70px;
    padding: 6px;
    border-radius: 25px;
    margin-right: 40px;
}
.tabela{/* imagem dos links que direcionam para a outra pagina*/
    width: 150px;
    height: 70px;
    padding: 6px;
    border-radius: 25px;
    margin-right: 40px; 
}






.boxtexto{/* centralizar o texto do main*/
    width: 1020px;
    text-align: center;
    align-items: center;
    margin-left: 145px;
}

.titulo{/* para deixar os titulos no meio */
    text-align: center;
}






nav{/* configurações dos links das paginas */
    display: flex;/* para ser flexivel*/
    position: absolute;
    top: 70px;
    margin-left: 900px;
    border-radius: 30px;
}
nav li{
    display: inline;
}
nav a{
    margin-top: 25px;
}


#tabela{
    box-shadow: 3px 3px 3px black;
    text-align: center;
    align-items: center;
    margin-left: 290px;
}



table{
    width: min(100%, 800px);
    table-layout: fixed;
    margin-top: 50px;
    border-collapse: collapse;
    font-size: 18px;
}







th,td{
    padding: 16px  24px;
}

thead th{
    color: black;
    width: 25%;
}
tbody tr:nth-child(odd){
    background-color: white;
}
tbody tr:nth-child(even){
    background-color: var(--cor_1);
}








.botao{
    background-color: var(--cor_2);
    border-radius: 30%;
    box-shadow: 3px 3px 5px black;
}


.box{
    text-align: center;
}
