:root{
    --cor_fundo: #F4EFEC;
    --cor_1: #F0D9D1;
    --cor_2: #DDB7AC ;
    --cor_3: #999B85;
}
main{
    grid-area: prin;
    border: purple solid 2px;
    background-color: var(--cor_1);
    display: flex;
    justify-content: center;
}


header{
    grid-area: cabe;
    background-color: var(--cor_3);

}
footer{
    grid-area: roda;
    background-color: var(--cor_2);

}
 *{
    margin: 0%;
    padding: 0%;
 }
body{
    display: grid;
    grid-template-areas:
    " cabe "
    " prin "
    " roda ";
    grid-template-columns: auto;
    grid-template-rows: 210px 540px 210px;
    background-color: var(--cor_fundo);
    border: var(--cor_3);
 
}
.caixa{
    background-color: var(--cor_1);
}





.logo{
    width: auto;
    height: 200px;
    padding: 6px;
    border-radius: 30px;
}






.boxtexto{
    width: 70%;
}

.titulo{
    text-align: center;
}
