:root{/* colorcode*/
    --cor_fundo: #F4EFEC;
    --cor_1: #F0D9D1;
    --cor_2: #DDB7AC ;
    --cor_3: #999B85;
}
main{
    grid-area: prin;
    background-color: var(--cor_1);
    display: flex;
    justify-content: center;
}


header{
    grid-area: cabe;
    background-color: var(--cor_3);

}
footer{
    grid-area: roda;
    background-color: var(--cor_2);

}
 *{/* tirar a borda branca do site */
    margin: 0%;
    padding: 0%;
 }
body{/* tem grid */
    display: grid;
    grid-template-areas:
    " cabe "
    " prin "
    " roda ";
    grid-template-columns: auto;
    grid-template-rows: 210px 540px 210px;
    background-color: var(--cor_fundo);
    border: var(--cor_3);
 
}
.caixa{
    background-color: var(--cor_1);
}





.logo{
    width: auto;
    height: 200px;
    padding: 6px;
    border-radius: 30px;
}




.grafico{/* imagem dos links que direcionam para a outra pagina*/
    width: 150px;
    height: 70px;
    padding: 6px;
    border-radius: 25px;
    margin-right: 40px;
}
.pag1{/* imagem dos links que direcionam para a outra pagina*/
    width: 150px;
    height: 70px;
    padding: 6px;
    border-radius: 25px;
    margin-right: 40px;
}
.tabela{/* imagem dos links que direcionam para a outra pagina*/
    width: 150px;
    height: 70px;
    padding: 6px;
    border-radius: 25px;
    margin-right: 40px; 
}






.boxtexto{/* centralizar o texto do main*/
    width: 70%;
}

.titulo{/* para deixar os titulos no meio */
    text-align: center;
}






nav{/* configurações dos links das paginas */
    display: flex;/* para ser flexivel*/
    position: absolute;
    top: 70px;
    margin-left: 900px;
    border-radius: 30px;
}
nav li{
    display: inline;
}
nav a{
    margin-top: 25px;
}







/* configurações dos links dos instas */
footer a:hover{
    font-size: 1.1rem;
    color: white; 
    border: solid rgb(0 , 0, 0); 
    background: black; 
}
footer li{
    display: inline;
    margin: 0 0 0 100px;
    margin-top: 8%;
}
footer li{
    display: inline;
    position:relative;
    align-items: center;
}
footer{
    text-align: center;
    display: flex;
    position: relative;
}
footer a{
    text-decoration: none; 
    font-size: 1.1rem;
    color: rgb(2, 2, 2);
}
