:root{
    --cor_fundo: #F4EFEC;
    --cor_1: #F0D9D1;
    --cor_2: #DDB7AC ;
    --cor_3: #999B85;
}
body{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color:var(--cor_3);
}
.case-chart{
    background-color: #DDB7AC;
    padding: 4%;
    height: 220px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 3px 6px 11px black;/*sombra*/
    margin-top: 75px;
}
.logo{
    width: auto;
    height: 200px;
    padding: 6px;
    border-radius: 30px;
    position: relative;
    
}
main, header{
    display: flex;
}
.info{
    margin: 80px;
    display: flex;
    flex-direction: column;
    background-color: #8a8b77;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 6px 11px black;/*sombra*/
    transition: 3s;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin-top: 75px;
   
}
.info1{
    width: 600px;/*tamanho do card*/
    height: 300px;/*altura do card*/
    margin: 50px;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #8a8b77;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 6px 11px black;/*sombra*/
    transition: 3s;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin-top: 75px;
}
@media(max-whidth:768px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}







.grafico{/* imagem dos links que direcionam para a outra pagina*/
    width: 150px;
    height: 70px;
    padding: 6px;
    border-radius: 25px;
    margin-right: 40px;
}
.pag1{/* imagem dos links que direcionam para a outra pagina*/
    width: 150px;
    height: 70px;
    padding: 6px;
    border-radius: 25px;
    margin-right: 40px;
}
.tabela{/* imagem dos links que direcionam para a outra pagina*/
    width: 150px;
    height: 70px;
    padding: 6px;
    border-radius: 25px;
    margin-right: 40px; 
}




nav{/* configurações dos links das paginas */
    display: flex;/* para ser flexivel*/
    position: absolute;
    top: 70px;
    margin-left: 850px;
    border-radius: 30px;
}
nav li{
    display: inline;
}
nav a{
    margin-top: 25px;
}
